.RepositoryDetailPage {
  text-align: center;
}

.top-bar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center; 

  background-color: black;
}

.home-button {
  position: relative;
  left: 1%;
  width: 70px;
  height: 30px;

  font-family: 'Roboto';
  font-style: normal;
  font-size: 15px;
  color: white;

  background-color: black;
  cursor: pointer;
  border: none;
}

.log-out-button {
  position: relative;
  left: 84%;

  width: 70px;
  height: 30px;

  font-family: 'Roboto';
  font-style: normal;
  font-size: 15px;
  color: white;

  background-color: black;
  cursor: pointer;
  border: none;
}

.about-us-button {
  position: relative;
  left: 85%;

  width: 80px;
  height: 30px;

  font-family: 'Roboto';
  font-style: normal;
  font-size: 15px;
  color: white;

  background-color: black;
  cursor: pointer;
  border: none;
}

.search-bar-background {
  position: fixed;
  top: 60px;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center; 

  background-color: rgb(245, 245, 245);
}

.search-bar {
  position: relative;
  width: 400px; /* 너비를 늘릴 값으로 조정하세요 */
  height: 30px;
  margin-left: 20px; /* 좌측 여백을 조정합니다 */
  margin-bottom: 0px;;
  font-size: 14px;
  font-family: 'Roboto';
  font-style: normal;

  border: 1px solid #ddd;
  border-radius: 4px; 
  box-sizing: border-box;
}
.select {
  position: fixed;  
  display: flex;
  margin-left: 440px;
  flex-direction: row; /* 가로 방향으로 정렬 */
  gap: 10px; /* 드롭다운 사이에 공간 추가 */
  align-items: center; /* 세로 중앙 정렬 */
}

.select > div {
  flex-grow: 1; /* 각 드롭다운이 동일한 너비를 가지도록 설정 */
}

.select > div:not(:first-child) { 
  margin-left: -10px; /* 첫 번째를 제외한 모든 드롭다운을 왼쪽으로 약간 이동 */
}


#page-wrap {
  width: 100%; /* 전체 너비 사용 */
  max-width: none; /* 최대 너비 설정 */
  margin:0 auto;; /* 중앙 정렬을 없애고 왼쪽 정렬을 위해 auto를 제거 */
 
  padding: 1rem 1rem 1rem 0; /* 좌측 패딩을 제거 */
  display: flex;
  flex-direction: column;
  align-items: start; 
}
.repo-info, .info-boxx {
  text-align: left; /* 텍스트 왼쪽 정렬 */
  margin-left: 0px; /* 왼쪽 여백 추가 */
  width: auto; /* 너비 자동 조절 */
}

.repo-info h2 {
  font-size: 50px; /* 폰트 크기 설정 */
  font-weight: bold; /* 폰트 굵기 설정 */
  margin-bottom: 20px; /* 아래 여백 설정 */
}
.repo-info {
  display: flex;
  flex-direction: column;
  
}

.repo-type {
  font-size: 30px; 
  margin: 0 40px;
  text-align: left; /* Team, Personal 왼쪽 여백 추가하여 위치를 조정합니다. */
}

.repo-name {
  font-size: 32px; /* 원하는 크기로 조정하세요 */
  font-weight: bold; /* 굵은 텍스트로 만듭니다 */
  position: relative; /* 상대 위치로 설정합니다 */
  z-index: 1; /* 다른 요소 위에 표시되도록 설정합니다 */
  margin-top: 100px; /* 원하는 만큼의 여백을 위쪽에 추가합니다 */
  text-align: left; /* 왼쪽 정렬 */
  margin-left: 0px; /* 왼쪽 여백 추가하여 상자를 왼쪽으로 옮김 */
  color: black; /* 글씨 색상을 검정색으로 설정합니다 */
}
.info-boxx {
  background-color: #333; /* 다크 배경 */
  color: #fff; /* 흰색 텍스트 */
  border-radius: 25px; /* 라운드된 모서리 */
  padding: 20px 30px; /* 패딩 */
  margin: 20px 0; /* 상하 여백은 그대로 두고 좌우 여백만 0으로 설정하여 가운데 정렬 제거 */
  max-width: 200px; /* 최대 너비 설정 */
  text-align: left; /* 왼쪽 정렬 */
  margin-left: 20px; /* 왼쪽 여백 추가하여 상자를 왼쪽으로 옮김 */
  display: flex; /* 유연한 레이아웃을 위해 flex로 설정 */
  flex-direction: column; /* 세로 방향으로 요소를 정렬 */
}

.info-box h3 {
  margin: 0 0 10px; /* 제목의 마진 조정 */
  font-size: 1.5rem; /* 제목의 폰트 사이즈 조정 */
}

.info-box p {
  margin: 0; /* 문단의 마진 제거 */
  font-size: 1.2rem; /* 문단의 폰트 사이즈 조정 */
}
.chart-with-info {
   
  display: flex;
  flex-direction: row; /* 가로로 나열 */
  flex-wrap: wrap; /* 내용이 많아지면 다음 줄로 넘어감 */
  justify-content: flex-start; /* 왼쪽에서 시작 */
  align-items: flex-start; /* 상단 정렬 */
  gap: 50px; /* 세트 사이의 간격 */
}

.chart-and-info-container {
   
  display: flex;
  flex-direction: column; /* 세로로 나열 */
  align-items: center; /* 세로축 중앙 정렬 */
  width: 300px; /* 적절한 너비 설정 */
  margin-left: 20px;  
  
}

.chart-container {
  width: 100%; /* 전체 너비 사용 */
  height: 300px; /* 높이 설정 */
  margin-left: 20px;
}

.info-box {
  width: 300px; /* 전체 너비 사용 */
  padding: 20px;
  background-color: #333;
  color: #fff;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 10px; /* 차트와 정보 상자 사이의 간격 */
  margin-left: 20px;
} 

.scroll-link-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px; /* Adjust width as needed */
  padding: 20px;
  background-color: #333; /* Dark background for the box */
  color: #fff; /* White text color */
  margin-left: 100px;
  border-radius: 25px; /* Rounded corners */
  cursor: pointer; /* Pointer cursor on hover */
  text-decoration: none; /* Remove underline from link */
  margin-top: 20px; /* Margin from the top element */
  transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

.scroll-link-box:hover {
  background-color: #555; /* Slightly lighter on hover */
}

/* 소병학 추가 */
/* 기본 스타일 적용 */
body {
  font-size: 18px; /* 기본 폰트 크기를 설정합니다. */
  line-height: 1.6; /* 텍스트 가독성을 위해 줄 높이를 설정합니다. */
}

.container {
  padding: 20px;
}

.grid {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.card {
  padding: 20px;
  text-align: center;
  background-color: #f5f5f5;
  border-radius: 5px;
  box-shadow: 0 2px 3px rgba(34, 36, 38, 0.15);
  cursor: pointer;
  flex: 1 1 30%;
}

.repo-details {
  margin-bottom: 20px;
}

.repo-info {
  padding: 20px;
  background-color: #e9ecef;
  border-radius: 5px;
  text-align: center;
}

.modal {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal_body {
  position: relative;
  width: 400px;
  padding: 40px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 3px rgba(34, 36, 38, 0.15);
  text-align: center;
}