.LoginPage {
  text-align: center;
}

.phase {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;

  height: 100px;

  font-size: 24px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: lighter;
  color: black;
}

.login-box{
  position: absolute;
  top: 180px;
  left: 50%;
  transform: translate(-50%, 0%);

  width: 300px;
  max-height: 500px;
  padding-top: 10px;
  padding-bottom: 5px;
  overflow-y: auto;

  background-color: #f6f8fa!important;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.login-box input{
  width: 90%;
  padding: 10px;

  font-size: 14px;
  font-family: 'Roboto';
  font-style: normal;

  border: 1px solid #ddd;
  border-radius: 8px;
  box-sizing: border-box;
}

.LoginPage-LoginBox-Username {
  position: relative;
  left: 0px;

  font-size: 15px;
  font-family: 'Roboto';
  font-style: normal;
}

.submmit-button {
  width : 87%;
  
  color: white;
  padding: 10px 20px;
  margin-top: 20px;
  margin-bottom: 10px;

  font-size: 14px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #6E40C9;
}

.submmit-button-disabled {
  background-color: #ccc;
  cursor: default;
}

.submmit-button:hover {
  background-color: rgb(156, 73, 250);
}

.submmit-button-disabled:hover {
  background-color: #ccc;
}

.userID {
  position: relative;
  text-align: left;
  margin-top: 4px;
  margin-bottom: 6px;
  margin-left: 20px;

  font-size: 13px;
  font-family: 'Roboto';
  font-style: normal;
} 

.password {
  position: relative;
  text-align: left;
  margin-top: 15px;
  margin-bottom: 6px;
  margin-left: 20px;

  font-size: 13px;
  font-family: 'Roboto';
  font-style: normal;
}

.register-box {
  position: absolute;
  top: 420px;
  left: 50%;
  transform: translate(-50%, 0%);

  width: 300px;
  max-height: 500px;
  padding-top: 0px;
  padding-bottom: 10px;
  overflow-y: auto;

  line-height: 1;
  font-size: 14px; 

  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
}


.phase-button {
  color: black;
  padding: 10px 20px;
  margin-top: 300px;
  margin-bottom: 10px;

  font-size: 14px;
  cursor: pointer;
  border: none;
  border-radius: 5px;

  background-color: transparent;
}